server:
  port: ":8082"
  gin_log: true
  read_timeout: 15s
  write_timeout: 15s
  worker_count: 4                # 并发执行流水线的 Worker 协程数量
  sandbox_dir: "./workspace"     # 流水线代码克隆与执行命令的本地沙箱目录
  repo_sync_server: "http://192.168.56.18:8000"

auth:
  jwt_secret: "please-change-this-jwt-secret-in-production-environments-123456"
  password_login_enabled: true
  system_user_id: 1 # 用于系统间调用的虚拟或物理系统用户 ID，必须在 code-bench 侧处于 IsActive=true 状态

pipeline_system:
  get_pipeline_url: "http://192.168.56.18:8080/api/external/pipeline"
  get_execution_plan_url: "http://192.168.56.18:8080/api/external/execution-plans"
  get_mr_bindings_url: "http://192.168.56.18:8080/api/external/mr-bindings"
  copy_checker_task_url: "http://192.168.56.18:8080/api/external/copy-checker-task"
  create_checker_task_url: "http://192.168.56.18:8080/api/external/create-checker-task"
  create_checker_task_body: |
    {
      "id": "{TEMPLATE_ID}",
      "name": "{NAME}",
      "copyIgnoreGroup": "false",
      "isCopyCategory": "false",
      "languages": {LANGUAGES},
      "ruleSets": {RULE_SETS}
    }
  copy_checker_task_body: |
    {
      "id": "{TEMPLATE_ID}",
      "name": "{NAME}",
      "copyIgnoreGroup": "false",
      "isCopyCategory": "false"
    }
  checker_task_template_id: "template_task_id"
  repo_auth_check_url: "http://192.168.56.18:8080/api/external/repo-auth-check"
  repo_credential_check_url: "http://192.168.56.18:8080/api/external/repo-credential-check"
  get_branches_url: "http://192.168.56.18:8080/api/external/repo-branches"
  query_checker_task_url: "http://192.168.56.18:8080/api/external/query-checker-task"
  rule_sets:
    GO:
      - "rule_id_go_1"
      - "rule_id_go_2"
    PYTHON:
      - "rule_id_py_1"
